
.find_nav {cursor:pointer; background:#FFFFFF; 
    width: 100%;
    height: 48px;
     margin:5px 0 0;
   position: relative;
    z-index: 99;
    display: -moz-box;
    display: -webkit-box;
    display: box; 
}
/*.find_nav_left:hover{background-color:none;}*/
/*.find_nav_list:hover,.find_nav_list:active,.find_nav_list:focus{ background-color:none;}*/
.fixed_top {top:-10px;height: 48px;
    position: fixed;
    z-index: 999;
    animation: bounceInDown .8s;
}
.find_nav_left {
    height: 46px;
    position: relative;
    overflow: hidden;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}
.find_nav_list {
    position: absolute;
    left: 0;
}
.find_nav_list ul {
    position: relative;
    white-space: nowrap;
    font-size: 0;
}
.find_nav_list ul li {
    display: inline-block;
    margin: 0 10px;
}
.find_nav_list ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height:50px;
    font-size:16px;
    text-align: center;
    color:#333;font-weight: 500;
}
.find_nav_cur a {
    color:#13aaf8 !important;
}
.sideline {
    display: block;
    position: absolute;
    border-top:8px solid #13aaf8;
    left: 0; right: 0;
    top: 45px; width: 20px;
    pointer-events: none;
}
.find_nav_more{ 
    
    width: 44px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    color:#13aaf8;
}


.find_nav_more .subtopic{outline: 0; border:0; background: #FFFFFF; padding:5px 0;
	position:absolute; width:100%; left:0; right:0; display:flex; flex-wrap:wrap; box-shadow:1px 1px 5px #ECECEC ;}

.find_nav_more .subtopic li{ z-index:99;width:25%; margin:8px 4%;}

.find_nav_more .subtopic li a{ display:block;color:#999;  width:99%; font-size:14px;  border-radius:6px; transition: .5s;border:1px solid #FAFAFA;}
.find_nav_more .subtopic li:hover,.find_nav_more .subtopic li:focus{ border: 0;}
.find_nav_more .subtopic li a:hover,.find_nav_more .subtopic li a:focus{ background:linear-gradient(#7bcbf5,#13aaf8); border:0 ; color:#FFF;}
.find_nav_last{ height: 45px;line-height: 45px; padding:0 20px; font-size:14px; color:#999;}
.find_nav_more summary::-webkit-details-marker{ display:none;}
.find_nav_more summary{ padding-top:4px;}
.find_nav_more summary:after{content: url(../images/icon_down.svg);}
details[open] summary:after{content: url(../images/icon_up.svg);}





















